<template>
  <div id="addFeeItem">
    <v-toolbar color="elevation-0 white">
      <v-btn icon @click="cancel">
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title>
        {{ title }}
      </v-toolbar-title>
    </v-toolbar>
    <v-container>
      <v-layout row wrap>
        <v-flex xs12>

          <v-text-field
            label="Label"
            v-model="feeItem.label"
            hint="For example: Standard, Default, Long, Short"
            persistent-hint
          ></v-text-field>
        </v-flex>
        <v-flex xs12 class="mt-5">
          <v-text-field
            label="Duration"
            v-model="feeItem.duration"
            type="number"
            suffix="minutes"
          ></v-text-field>
        </v-flex>
        <v-flex xs12 class="mt-5">
          <v-text-field
            label="Fee"
            v-model="feeItem.fee"
            type="number"
            prefix="$"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row class="mt-5">
        <v-btn @click="cancel" flat>Cancel</v-btn>
        <v-btn @click="save" color="primary" :loading="isSaving">Save</v-btn>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
  import { mapGetters } from 'vuex'
  // const moment = require('moment')
  export default {
    name: 'add-fee-item',
    data () {
      return {
        title: 'Add Fee Item',
        feeItem: {
          label: '',
          duration: 0,
          fee: 0
        },
        isSaving: false
      }
    },
    computed: {
      ...mapGetters({
        currentUser: 'getUser'
      })
    },
    mounted: function () {
    },
    methods: {
      cancel: function () {
        this.$router.back()
      },
      save: function () {
        let feeTable = this.currentUser.feeTable
        feeTable.push(this.feeItem)
        this.isSaving = true
        this.$store.dispatch('updateUserFieldAtFirestore', { field: 'feeTable', value: feeTable })
          .then(() => {
            this.$router.back()
          }).catch((error) => {
            this.isSaving = false
            console.log(error)
          })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

</style>
