<template>
  <div id="feeTable">
    <v-toolbar color="elevation-0 white">
      <v-btn icon @click="back()">
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title>
        {{ title }}
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn color="primary" flat icon @click="goto('/fee-table/add-fee-item')"><v-icon>add</v-icon></v-btn>
    </v-toolbar>


    <v-list two-line class="transparent">
      <template v-for="(item, index) in currentUser.feeTable">
        <v-list-tile
          transparent
          :key="index"
        >
          <v-list-tile-content>
            <v-list-tile-title v-text="item.label"></v-list-tile-title>
            <v-list-tile-sub-title>{{ item.duration }} min - ${{ item.fee }}</v-list-tile-sub-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-btn icon ripple @click="deleteFeeItemByIndex(index)">
              <v-icon color="grey lighten-1">delete</v-icon>
            </v-btn>
          </v-list-tile-action>
        </v-list-tile>
        <v-divider></v-divider>
      </template>
    </v-list>

  </div>
</template>
<script>
  import { mapGetters } from 'vuex'
  // const moment = require('moment')
  export default {
    name: 'fee-table',
    data () {
      return {
        title: 'Fee Table'
      }
    },
    computed: {
      ...mapGetters({
        currentUser: 'getUser'
      })
    },
    mounted: function () {
    },
    methods: {
      goto: function (route) {
        this.$router.push(route)
      },
      back: function () {
        this.$router.back()
      },
      deleteFeeItemByIndex: function (index) {
        let feeTable = this.currentUser.feeTable
        feeTable.splice(index, 1)
        this.$store.dispatch('updateUserFieldAtFirestore', { field: 'feeTable', value: feeTable })
          .then(() => {
            console.log('deleted')
          }).catch((error) => {
            console.log(error)
          })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

</style>
