<template>
  <div id="addAvailableTimes">
    <v-toolbar color="elevation-0 white">
      <v-btn icon @click="cancel">
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title>
        {{ title }}
      </v-toolbar-title>
    </v-toolbar>
    <v-container>
      <v-layout row wrap>
        <v-flex xs12>

          <p>Days available</p>
          <v-btn-toggle multiple v-model="businessHours.days">
            <v-btn flat v-for="(item,index) in days" :value="index" :key="index" v-if="isValidDayIndex(index)">
              {{item}}
            </v-btn>
          </v-btn-toggle>
        </v-flex>
        <v-flex xs12 class="mt-5">
          <p>Times available for selected days</p>
          <v-dialog
            persistent
            v-model="start_time_modal"
            lazy
            full-width
            width="290px"
          >
            <v-text-field
              slot="activator"
              label="Start time"
              v-model="businessHours.start_time"
              prepend-icon="access_time"
              readonly
            ></v-text-field>
            <v-time-picker v-model="businessHours.start_time" actions>
              <template slot-scope="{ save, cancel }">
                <v-card-actions>
                  <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                  <v-btn flat color="primary" @click="save">Save</v-btn>
                </v-card-actions>
              </template>
            </v-time-picker>
          </v-dialog>

          <v-dialog
            persistent
            v-model="end_time_modal"
            lazy
            full-width
            width="290px"
          >
            <v-text-field
              slot="activator"
              label="End time"
              v-model="businessHours.end_time"
              prepend-icon="access_time"
              readonly
            ></v-text-field>
            <v-time-picker v-model="businessHours.end_time" actions>
              <template slot-scope="{ save, cancel }">
                <v-card-actions>
                  <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                  <v-btn flat color="primary" @click="save">Save</v-btn>
                </v-card-actions>
              </template>
            </v-time-picker>
          </v-dialog>
        </v-flex>
      </v-layout>
      <v-layout row class="mt-5">
        <v-btn @click="cancel" flat>Cancel</v-btn>
        <v-btn @click="save" color="primary" :loading="isSaving">Save</v-btn>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
  import { mapGetters } from 'vuex'
  // const moment = require('moment')
  export default {
    name: 'settings',
    data () {
      return {
        title: 'Add Available Times',
        sessions: [],
        businessHours: {
          days: [],
          start_time: '',
          end_time: ''
        },
        days: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
        start_time_modal: false,
        end_time_modal: false,
        isSaving: false
      }
    },
    computed: {
      ...mapGetters({
        currentUser: 'getUser'
      })
    },
    mounted: function () {
    },
    methods: {
      isValidDayIndex: function (index) {
        let bizhrs = this.currentUser.businessHours
        let usedDays = []
        for (let i = 0; i < bizhrs.length; i++) {
          for (let x = 0; x < bizhrs[i].days.length; x++) {
            usedDays.push(bizhrs[i].days[x])
          }
        }
        return !usedDays.includes(index)
      },
      cancel: function () {
        this.$router.back()
      },
      save: function () {
        let bizhrs = this.currentUser.businessHours
        bizhrs.push(this.businessHours)
        this.isSaving = true
        this.$store.dispatch('updateUserFieldAtFirestore', { field: 'businessHours', value: bizhrs })
          .then(() => {
            this.$router.back()
          }).catch((error) => {
            this.isSaving = false
            console.log(error)
          })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

</style>
