<template>
  <div id="availableTimes">
    <v-toolbar color="elevation-0 white">
      <v-btn icon @click="back()">
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title>
        {{ title }}
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn color="primary" flat icon @click="goto('/available-times/add-available-times')"><v-icon>add</v-icon></v-btn>
    </v-toolbar>


    <v-list two-line class="transparent">
      <template v-for="(item, index) in currentUser.businessHours">
        <v-list-tile
          transparent
          :key="index"
        >
          <v-list-tile-content>
            <v-list-tile-title v-text="getAvailableDaysLabel(item)"></v-list-tile-title>
            <v-list-tile-sub-title>{{ item.start_time }} - {{ item.end_time }}</v-list-tile-sub-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-btn icon ripple @click="deleteAvailableTimesByIndex(index)">
              <v-icon color="grey lighten-1">delete</v-icon>
            </v-btn>
          </v-list-tile-action>
        </v-list-tile>
        <v-divider></v-divider>
      </template>
    </v-list>

  </div>
</template>
<script>
  import { mapGetters } from 'vuex'
  // const moment = require('moment')
  export default {
    name: 'available-times',
    data () {
      return {
        title: 'Available Times',
        sessions: [],
        start_time_modal: false,
        end_time_modal: false,
        dayLabels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
      }
    },
    computed: {
      ...mapGetters({
        currentUser: 'getUser'
      })
    },
    mounted: function () {
    },
    methods: {
      getAvailableDaysLabel: function (item) {
        let days = ''
        for (let i = 0; i < item.days.length; i++) {
          days += (i === 0) ? this.dayLabels[item.days[i]] : ', ' + this.dayLabels[item.days[i]]
        }
        return days
      },
      goto: function (route) {
        this.$router.push(route)
      },
      back: function () {
        this.$router.back()
      },
      deleteAvailableTimesByIndex: function (index) {
        let bizhrs = this.currentUser.businessHours
        bizhrs.splice(index, 1)
        this.$store.dispatch('updateUserFieldAtFirestore', { field: 'businessHours', value: bizhrs })
          .then(() => {
            console.log('deleted')
          }).catch((error) => {
            console.log(error)
          })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

</style>
