@import 'mixins';
@import 'transitions';
@import 'hxui-calendar-theme';

$primary: #41b987;

.scroll-y{
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}


#app {

  .primary {
    background-color: $primary !important;
    border-color: $primary !important;
    &.btn--disabled:not(.btn--icon):not(.btn--flat) {
      background-color: rgba(0,0,0,.12)!important;
    }
  }

  .primary--text {
    color: $primary !important;
  }

  img.icon {
    width: 24px;
  }

}

.btn.cta {
  bottom: 70px;
}

.login.card {
  @include radial-gradient(center, top, #1cffa5, #00216b);

  .logo {
    width: 160px;
  }
}

.bottom-nav {
  @include radial-gradient(left, center, #1cffa5, #00216b);
}

hr {
  border-width: 0 0 1px 0;
  opacity: .8;
}

.stepper {
  box-shadow: none;
  &__header {
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
  }
  &__step__step {

  }
  &__items {
    .stepper__content {
      &:first-child {
        display: flex;
        align-items: center;
        min-height: calc(100vh - 72px);
        .stepper__wrapper {
          width: 100%;
        }
      }
    }
  }
  hr {
    opacity: 1;
  }
}

.hxui-reset {

  #app {
    min-height: 100vh;
    // @extend .gradient-vertical;
    &.is-dark {
      color: #eee;
      background: #333;
      hr {
        border-top: 1px solid rgba(white, 0.1);
      }
    }
    &.dialog-is-opened {
      overflow: hidden;
      height: 100vh;
    }
    main {
      overflow: auto;
    }
  }

  .hx-container {
    &.fluid {
      width: 100%;
      padding: 0 1rem;
    }
  }
  .site-title {
    font-weight: 300 !important;
    text-transform: none;
  }
  h1, h2, h3, h4, h5, h6 {
    // text-transform: uppercase;
    font-weight: 300 !important;
  }

  .hx-button {
    &[disabled] {
      border: none;
      background-color: rgba(white, .1);
      color: rgba(white, .3);
    }
    &.is-loading {
      &:after {
        border: 2px solid rgba(white, 0.3);
        border-right-color: transparent;
        border-top-color: transparent;
      }
    }
    &.google {
      background-color: #df4a32;
      color: white;
    }
  }

  .hx-input-control {
    &.is-dark {
      .hx-input, .hx-select, .hx-textarea {
        color: white;
        border-bottom: 1px solid rgba(white, 0.2);
        & + .hx-label {
          color: rgba(white, .5);
        }
      }
      &.is-empty {
        .hx-input {
          border-bottom: 1px solid rgba(white, 0.2);
        }
      }
    }
    .hx-input {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      &:-webkit-autofill {
        background-color: rgba(white,.2) !important;
      }
      & + .hx-label {
        top: -.3rem;
        font-size: .65rem;
        color: rgba(black, .5);
        sup {
          font-size: .4rem;
        }

        & + .hx-help {
          opacity: 0;
          text-align: left;
          &:before, &:after {
            width: 0;
            top: -.3rem;
            height: 2px;
          }
        }
      }
    }
    &.is-empty {
      .hx-input {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        & + .hx-label {
          top: .9rem;
          font-size: .9rem;
          sup {
            font-size: .6rem;
          }
          & + .hx-help {
            opacity: 0;
            &:before, &:after {
              width: 0;
            }
          }
        }
      }
    }
    &.is-focus {
      .hx-input {

        & + .hx-label {
          top: -.3rem;
          font-size: .65rem;
          color: #41b987;
          sup {
            font-size: .4rem;
          }

          & + .hx-help {
            opacity: 1;
            color: #41b987;
            &:before, &:after {
              width: 50%;
            }
          }
        }
      }
    }
    &.is-danger {
      .hx-input {

        & + .hx-label {
          color: #b81e4f;

          & + .hx-help {
            opacity: 1;
            color: #b81e4f;
            &:before, &:after {
              width: 50%;
              background-color: #b81e4f;
            }
          }
        }
      }
    }
  }

  .hx-list-group {
    &.is-dark {
      > li {
        > a {
          color: white;
          border-bottom-color: rgba(white, .05);
        }
      }
    }
  }

  .avatar {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 100%;
    background-color: rgba(0,0,0,.1);
    img {
      width: 100%;
    }
  }

  .hx-modal {
    display: block;
    transition: .5s;
    opacity: 1;
    transform: translateY(100%);
    &.modal-login {
      transform: translateY(-100%);
    }
    &.is-active {
      transform: translateY(0%);
    }
  }

  .hx-card {
    border: none;
    border-radius: 2px;
    &.is-dark {
      color: #eee;
      background: #333;
      hr {
        border-top: 1px solid rgba(white, 0.1) !important;
      }
    }
    hr {
      border-top: 1px solid rgba(black, 0.1) !important;
    }
    .hx-card-avatar {
      width: 60px;
      height: 60px;
      background-color: #555;
      border-radius: 50%;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      top: -30px;
      transform: translateX(-50%);
      img {

      }
    }
  }

  .hx-tab-container {
    &.is-dark {
      color: #eee;
      .hx-nav-tabs.is-justified {
        .hx-nav-item:not(.is-active) {
          .hx-nav-link {
            color: #eee;
          }
        }
      }
    }
    .hx-nav-tabs.is-justified {
      .hx-nav-item {
        flex: 1;
        text-align: center;
      }
    }
  }

  .slide-x-enter-active, .slide-x-leave-active {
    transition: .3s;
    opacity: 1;
    transform: translateX(0px);
  }
  .slide-x-enter, .slide-x-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateX(10%);
  }

  .scale-enter-active, .scale-leave-active {
    transition: .3s;
    opacity: 1;
    max-height: 500px;
  }
  .scale-enter, .scale-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    max-height: 0;
  }

}


// Event cards
@mixin event-types($name, $theme, $text, $time) {

  .eventDetails{
    .#{$name} {
      background-color: $theme;
      color: $text;
    }
  }

  a.fc-event {
    &.#{$name} {
      border-color: $theme;
      background-color: $theme;

      .fc-content {
        color: $text;
        .fc-time {
          color: $time;
        }
      }

      .fc-bg {
        background-color: $theme;
      }

      .fc-resizer {

      }
    }
  }
}

@include event-types('event-standard', $highlight-color, $dark-bg, $dark-bg);
@include event-types('event-danger', #b81e4f, #fff, #fff);
@include event-types('event-warning', #f6a904, $dark-bg, $dark-bg);
@include event-types('event-info', #76b6d6, $dark-bg, $dark-bg);
