.scale-y-enter-active, .scale-y-leave-active {
  transition: .3s;
  opacity: 1;
  max-height: 500px;
}
.scale-y-enter, .scale-y-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  max-height: 0;
}

.slide-x-enter-active, .slide-x-leave-active {
  transition: .3s;
  opacity: 1;
}
.slide-x-enter, .slide-x-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(-10%)
}

.slide-y-enter-active, .slide-y-leave-active {
  transition: .3s;
  opacity: 1;
}
.slide-y-enter, .slide-y-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(10%)
}
