<template>
  <div id="appointments" class="hx-flex hx-flex-column">
    <v-toolbar color="elevation-0 white">
      <v-toolbar-title>
        {{ title }}
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-menu bottom left>
        <v-btn color="primary" flat slot="activator" :loading="filter.isLoading"><v-icon left>event</v-icon>{{filter.label}}</v-btn>
        <v-list>
          <v-list-tile @click="filterBy('Today', 'day')">
            <v-list-tile-title>Today</v-list-tile-title>
          </v-list-tile>
          <v-list-tile @click="filterBy('Week', 'week')">
            <v-list-tile-title>Week</v-list-tile-title>
          </v-list-tile>
          <v-list-tile @click="filterBy('Month', 'month')">
            <v-list-tile-title>Month</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
      <!--<v-btn color="primary" flat icon v-if="!currentUser.isDoctor" @click="goto('/appointments/book-appointment')"><v-icon>add</v-icon></v-btn>-->
    </v-toolbar>
    <v-container fluid
                 style="min-height: 0;"
                 grid-list-lg
                 d-flex
                 class="scroll-y">
      <watermark msg="You have no appointments today" icon="date_range" v-if="!sessions.length"></watermark>
      <div v-if="sessions.length" class="sessions">

        <v-layout row wrap>
          <v-flex xs12 v-for="session in sessions" :key="session.session_id">
          <appointment-card :session="session" :participant="getParticipantByRole(session)"></appointment-card>
        </v-flex>
        </v-layout>
      </div>
    </v-container>
  </div>
</template>

<script>
  import Watermark from '../../components/Watermark'
  import AppointmentCard from '../../components/AppointmentCard'
  import config from '../../config'
  import { mapGetters } from 'vuex'
  const moment = require('moment')
  export default {
    components: {
      AppointmentCard,
      Watermark},
    name: 'appointments',
    data () {
      return {
        title: 'Appointments',
        sessions: [],
        filter: {}
      }
    },
    computed: {
      ...mapGetters({
        currentUser: 'getUser',
        appointments: 'getAppointments'
      })
    },
    mounted: function () {
      this.$store.dispatch('getAppointmentsByParticipant')
      this.filterBy('Today', 'day')
      Event.$on('cancel-session', (sessionId) => {
        this.cancelSession(sessionId)
      })
      Event.$on('appointments-refreshed', () => {
        this.getSessions()
      })
    },
    methods: {
      filterBy: function (label, type) {
        this.filter = {
          label: label,
          start: moment().startOf(type),
          end: moment().endOf(type),
          isLoading: false
        }
        this.getSessions()
      },
      goto: function (route) {
        this.$router.push(route)
      },
      getSessions: function () {
        this.sessions = this.appointments.filter(d => {
          return moment(d.start_time).isBetween(this.filter.start, this.filter.end)
        })
        console.log('Filtered Appointments:', this.filter.start, this.filter.end, this.sessions)
      },
      getParticipantByRole: function (session) {
        if (session && session.participants) {
          for (let i = 0; i < session.participants.length; i++) {
            let p = session.participants[i]
            if (this.currentUser.isDoctor && p.role === 'GUEST') {
              return p
            } else if (!this.currentUser.isDoctor && p.role === 'HOST') {
              return p
            }
          }
        }
      },
      cancelSession: function (sessionId) {
        let session = {
          session_id: sessionId
        }
        this.$http.post(config.CLOUD_FUNC_API + '/cancelSession',
          session,
          {headers: {'content-type': 'application/json'}}
        ).then(response => {
          if (response.body.ok) {
            // get index of object with id:37
            var removeIndex = this.sessions.map(function (session) { return session.session_id }).indexOf(sessionId)
            // remove object
            this.sessions.splice(removeIndex, 1)
          }
        }, response => {
          // error callback
          console.log('Error:', response)
          Event.$emit('notification', ({
            message: response.body.body.error.message,
            color: 'error'
          }))
        })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  #appointments{
    height: 91.6vh;
    display: flex;
    flex-direction: column;

    .flex-container{
      display: flex;
      flex-direction: column;
    }

    .sessions{
      & > div {
        //margin-top:.5rem;
      }

      .avatar img{
        border: 3px solid #ccc;
      }
    }
  }
</style>
