<template>
  <div id="bookAppointment">
    <v-toolbar color="elevation-0 white">
      <v-btn icon @click="cancel">
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title>
        {{ title }}
      </v-toolbar-title>
    </v-toolbar>
    <v-stepper v-model="e6" vertical class="transparent">
      <v-stepper-step step="1" v-bind:complete="e6 > 1">
        Select a booking time
        <small>Exact requested time may not be available</small>
      </v-stepper-step>
      <v-stepper-content step="1">
        <v-layout row wrap>
          <v-flex xs12>
            <v-dialog
              persistent
              v-model="date_modal"
              lazy
              full-width
              width="290px"
            >
              <v-text-field
                slot="activator"
                label="When"
                v-model="booking.date"
                prepend-icon="event"
                readonly
              ></v-text-field>
              <v-date-picker v-model="booking.date" actions locale="en-AU">
                <template slot-scope="{ save, cancel }">
                  <v-card-actions>
                    <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                    <v-btn flat color="primary" @click="save">Save</v-btn>
                  </v-card-actions>
                </template>
              </v-date-picker>
            </v-dialog>
          </v-flex>
          <v-flex xs12 >
            <v-dialog
              persistent
              v-model="start_time_modal"
              lazy
              full-width
              width="290px"
            >
              <v-text-field
                slot="activator"
                label="Start time"
                v-model="booking.start_time"
                prepend-icon="access_time"
                readonly
              ></v-text-field>
              <v-time-picker v-model="booking.start_time" actions>
                <template slot-scope="{ save, cancel }">
                  <v-card-actions>
                    <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                    <v-btn flat color="primary" @click="save">Save</v-btn>
                  </v-card-actions>
                </template>
              </v-time-picker>
            </v-dialog>

          </v-flex>
        </v-layout>
        <v-btn color="primary" @click.native="e6 = 2">Continue</v-btn>
        <v-btn flat>Cancel</v-btn>
      </v-stepper-content>
      <v-stepper-step step="2" v-bind:complete="e6 > 2">Select a doctor</v-stepper-step>
      <v-stepper-content step="2">
        <v-card color="grey lighten-1" class="mb-5" height="200px"></v-card>
        <v-btn color="primary" @click.native="e6 = 3">Continue</v-btn>
        <v-btn flat>Cancel</v-btn>
      </v-stepper-content>
      <v-stepper-step step="3" v-bind:complete="e6 > 3">Select a consult type</v-stepper-step>
      <v-stepper-content step="3">
        <v-card color="grey lighten-1" class="mb-5" height="200px"></v-card>
        <v-btn color="primary" @click.native="e6 = 4">Continue</v-btn>
        <v-btn flat>Cancel</v-btn>
      </v-stepper-content>
      <v-stepper-step step="4">Review & confirm</v-stepper-step>
      <v-stepper-content step="4">
        <v-card color="grey lighten-1" class="mb-5" height="200px"></v-card>
        <v-btn color="primary" @click.native="e6 = 1">Continue</v-btn>
        <v-btn flat>Cancel</v-btn>
      </v-stepper-content>
    </v-stepper>
    <v-container>


    </v-container>
  </div>
</template>
<script>
  import { mapGetters } from 'vuex'
  // const moment = require('moment')
  export default {
    name: 'bookAppointment',
    data () {
      return {
        title: 'Book an appointment',
        booking: {
          date: '',
          start_time: '',
          duration: 15,
          reason: ''
        },
        date_modal: false,
        start_time_modal: false,
        isSaving: false
      }
    },
    computed: {
      ...mapGetters({
        currentUser: 'getUser'
      })
    },
    mounted: function () {
    },
    methods: {
      cancel: function () {
        this.$router.back()
      },
      save: function () {
        console.log('save')
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

</style>
