<template>
  <div id="confirmBooking">
    <v-toolbar color="elevation-0 white">
      <v-btn icon @click="cancel">
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title>
        {{ title }}
      </v-toolbar-title>
    </v-toolbar>
    <v-stepper v-model="stepper" vertical class="transparent">
      <v-stepper-step step="1" v-bind:complete="stepper > 1" editable>
        Enter a reason
        <small>What is the reason for this consult?</small>
      </v-stepper-step>
      <v-stepper-content step="1">
        <v-layout row wrap>
          <v-flex xs12>
            <v-text-field
              name="reason"
              label="Reason"
              id="reason"
              v-model="booking.reason"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-btn color="primary" @click.native="stepper = 2">Continue</v-btn>
      </v-stepper-content>
      <v-stepper-step step="2" v-bind:complete="stepper > 2" editable>
        Duration
        <small>What is the duration needed for this consult?</small>
      </v-stepper-step>
      <v-stepper-content step="2">
        <v-layout row wrap>
          <v-flex xs12>
            <v-select
              v-bind:items="booking.doctor.feeTable"
              v-model="booking.feeItem"
              label="Duration"
              single-line
              item-text="label"
              return-object
              persistent-hint
            ></v-select>
          </v-flex>
        </v-layout>
        <v-btn color="primary" @click.native="stepper = 3">Continue</v-btn>
      </v-stepper-content>
      <v-stepper-step step="3" v-bind:complete="stepper > 3">
        Review & confirm
        <small>Double check the details before confirming</small>
      </v-stepper-step>
      <v-stepper-content step="3">

        <v-card flat v-if="booking.doctor">

          <v-container fluid grid-list-lg class="pb-0">
            <v-layout row>
              <v-flex xs4>
                <v-avatar
                  :size="'6rem'"
                  class="avatar">
                  <img :src="booking.doctor.photoURL" alt="avatar" align="center">
                </v-avatar>
              </v-flex>
              <v-flex xs8>
                <div>
                  <div class="headline">{{ startTime | moment("h:mm a") }}</div>
                  <div class="grey--text">with {{  booking.doctor.title  }} {{ booking.doctor.displayName  }}</div>
                  <v-subheader class="mt-2 pl-0">Estimated Duration</v-subheader>
                  <p>{{booking.feeItem.label}} - {{booking.feeItem.duration}} min</p>

                  <v-subheader class="pl-0">Reason</v-subheader>
                  <p>{{booking.reason}}</p>

                  <v-subheader class="pl-0">Estimated Cost</v-subheader>
                  <p>${{booking.feeItem.fee}}</p>
                </div>
              </v-flex>
            </v-layout>
          </v-container>

          <v-card-actions row>
            <v-spacer></v-spacer>
            <v-btn flat color="grey" @click="cancel">Cancel</v-btn>
            <v-btn color="primary" @click="confirm()" :loading="isSaving">Confirm</v-btn>
          </v-card-actions>
        </v-card>
      </v-stepper-content>

    </v-stepper>
    <v-container>


    </v-container>
  </div>
</template>
<script>
  import { mapGetters } from 'vuex'
  import config from '../../config'
  const moment = require('moment')
  export default {
    name: 'confirmBooking',
    data () {
      return {
        title: 'Confirm booking',
        booking: {
          doctor: null,
          start_time: null,
          end_time: null,
          reason: '',
          feeItem: {}
        },
        stepper: 1,
        isSaving: false
      }
    },
    computed: {
      ...mapGetters({
        currentUser: 'getUser',
        draftBooking: 'getDraftBooking'
      }),
      startTime: function () {
        return moment(this.booking.start_time).local()
      }
    },
    mounted: function () {
      this.init()
    },
    methods: {
      init: function () {
        if (this.draftBooking.doctor) {
          this.booking.doctor = this.draftBooking.doctor
          this.booking.start_time = moment().utc().format('YYYY-MM-DDTHH:mm:ss.SSS[Z]')
          this.booking.end_time = moment(this.booking.start_time).add(this.booking.feeItem.duration, 'minutes').format('YYYY-MM-DDTHH:mm:ss.SSS[Z]')
          this.booking.feeItem = (this.draftBooking.doctor.feeTable.length) ? this.draftBooking.doctor.feeTable[0] : {}
          console.log('doc', this.booking.doctor)
        } else {
          this.$router.back()
        }
      },
      cancel: function () {
        this.$router.back()
      },
      confirm: function () {
        this.isSaving = true
        let session = {
          session_name: this.booking.reason,
          start_time: this.booking.start_time,
          end_time: this.booking.end_time, // format: Fri, 03 Nov 2017 16:54:00 GMT (It's important to notice that the string format for start_time and end_time is RFC-1123, which specifies the UTC timezone.)
          picture: this.booking.doctor.photoURL,
          fee_item: this.booking.feeItem,
          participants: [
            {
              display_name: this.currentUser.title + ' ' + this.currentUser.displayName,
              role: 'guest', // host or "guest"
              picture: this.currentUser.photoURL,
              state: this.currentUser.uid
            },
            {
              display_name: this.booking.doctor.title + ' ' + this.booking.doctor.displayName,
              role: 'host', // host or "guest"
              picture: this.booking.doctor.photoURL,
              state: this.booking.doctor.uid
            }
          ]
        }
        console.log('session:', session)
        this.$http.post(config.CLOUD_FUNC_API + '/startSession',
          session,
          {headers: {'content-type': 'application/json'}}
        ).then(response => {
          console.log(response.body)
          self.isSaving = false
          this.$router.push('/appointments')
        }, response => {
          // error callback
          console.log('Error:', response)
          self.isSaving = false
        })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
#confirmBooking {

}
</style>
