<template>
  <div id="dashboard" class="home">
    <v-toolbar color="elevation-0 white">
      <v-spacer></v-spacer>
      <v-toolbar-title>
        {{ title }}
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn color="primary" flat icon :loading="isLoading" @click="refresh()"><v-icon>refresh</v-icon></v-btn>
    </v-toolbar>
    <v-container fluid
                 style="min-height: 0;"
                 grid-list-lg
                 d-flex
                 class="scroll-y">
      <v-layout row wrap>
        <v-flex xs12 sm10 md8 lg6 offset-sm1 offset-md2 offset-lg3 v-for="(doc, d) in doctors" :key="d">
          <v-card flat class="mb-2">
            <v-card-title>
              <h2 class="title">{{ doc.title }} {{ doc.displayName }}
                <small v-if="doc.doctorType">({{ doc.doctorType }})</small></h2>
            </v-card-title>
            <v-card-text class="pt-0" v-if="doc.bio">{{ doc.bio }}</v-card-text>
            <v-card-actions>
              <v-btn flat color="grey">Info</v-btn>
              <v-btn flat color="primary" @click="makeBooking(doc)">Book now</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
      <v-btn fab dark fixed bottom right color="grey darken-3" class="cta">
        <v-icon>add</v-icon>
      </v-btn>
    </v-container>
  </div>
</template>

<script>
import config from '../config'
const moment = require('moment')
export default {
  data () {
    return {
      title: 'Doctors available now',
      doctors: [],
      isLoading: false
    }
  },
  mounted: function () {
    this.refresh()
  },
  computed: {
  },
  methods: {
    makeBooking (doctor) {
      let booking = {
        doctor: doctor,
        start_time: moment(),
        end_time: moment().add(1, 'hours')
      }
      console.log(booking.start_time)
      this.$store.commit('updateBooking', booking)
      this.$router.push('/appointments/confirm-booking')
    },
    refresh () {
      this.getAvailableDoctors(moment(), moment().add(3, 'hours'))
    },
    getAvailableDoctors (start = moment(), end = moment().endOf('day')) {
      let startFm = start.utc().format('ddd, DD MMM YYYY HH:mm:ss') + ' GMT'
      let endFm = end.utc().format('ddd, DD MMM YYYY HH:mm:ss') + ' GMT'
      this.isLoading = true
      this.$http.post(config.CLOUD_FUNC_API + '/getAvailableDoctors',
        {
          start: startFm.toString(),
          end: endFm.toString()
        },
        {headers: {'content-type': 'application/json'}}
      ).then(response => {
        console.log(response)
        this.doctors = response.body.available_doctors
        this.isLoading = false
      }, response => {
        // error callback
        console.log('Error:', response)
        this.isLoading = false
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
$font-size: .92rem;
$line-height: 1.4;
$lines-to-show: 3;
#dashboard {
  height: 91.6vh;
  display: flex;
  flex-direction: column;
  .bio {
    display: block;
    display: -webkit-box;
    height: $font-size * $line-height * $lines-to-show;
    margin: 0 auto;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
</style>
