<template>
  <v-dialog v-model="value" fullscreen transition="dialog-bottom-transition" :overlay="false">
    <v-card tile dark class="d-flex login">
    <!-- <div class="login hx-card hx-flex hx-flex-justify-center is-dark px-8"> -->
      <!-- <div class="hx-container fluid hx-flex-align-self-center"> -->
      <v-container fluid>
        <v-layout>
          <v-flex xs10 sm6 md4 offset-xs1 offset-sm3 offset-md4>
            <!-- <h1 class="display-1 mb-4 text-xs-center" v-html="title"></h1> -->
            <p class="text-xs-center"><img src="/static/img/GP.ME-Logo.svg" :alt="title" class="logo"></p>

            <div v-if="isLoading" class="text-xs-center py-5">
               <v-progress-circular indeterminate :size="50" :width="2" color="grey lighten-1"></v-progress-circular>
            </div>

            <div v-else>

              <hr class="mx-5">
              <h6 class="subheading my-4 text-xs-center">Sign in with</h6>

              <transition name="scale-y">
                <div v-if="!isEmail">
                  <v-btn large block disabled class="mb-2">
                    <i class="icon ion-social-twitter mr-2"></i> Twitter
                  </v-btn>
                  <v-btn large block disabled class="mb-2">
                    <i class="icon ion-social-facebook mr-2"></i> Facebook
                  </v-btn>
                  <v-btn large block color="red" class="mb-2" @click.native="signInWithGoogle">
                    <i class="icon ion-social-google mr-2"></i> Google
                  </v-btn>
                  <p class="mt-3 text-xs-center">or</p>
                  <v-btn large block light class="mb-2" color="white" @click.native="isEmail = !isEmail">
                    <i class="icon ion-email mr-2"></i> Email
                  </v-btn>
                </div>
              </transition>

              <transition name="scale-y">
                <div v-if="isEmail">
                  <div class="text-xs-center">
                    <v-btn icon @click.native="isEmail = false, email = '', password = ''">
                      <v-icon color="red">close</v-icon>
                    </v-btn>
                  </div>

                  <v-form v-model="valid" ref="form" lazy-validation>
                    <v-text-field required color="white"
                      label="Email address"
                      v-model="email"
                      class="mb-3"
                      hint="Please enter your email address"
                      :rules="[rules.required, rules.email]"></v-text-field>

                    <v-text-field required color="white"
                      label="Enter your password"
                      hint="At least 8 characters"
                      v-model="password"
                      class="mb-3"
                      min="8"
                      :append-icon="passwordState ? 'visibility' : 'visibility_off'"
                      :append-icon-cb="() => (passwordState = !passwordState)"
                      :type="passwordState ? 'password' : 'text'"
                      :rules="[rules.required]"
                    ></v-text-field>

                    <v-btn large block light class="mt-5 mb-2" color="white" :disabled="!valid || loading" :loading="loading" @click.native="submit">Sign in</v-btn>

                  </v-form>
                  <p class="text-xs-center">
                    <router-link to="/forgot-password" :disabled="true" class="grey--text">Forgot password</router-link>
                  </p>
                </div>
              </transition>

            </div>

          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      valid: false,
      title: 'GPme',
      isEmail: false,
      loader: null,
      loading: false,
      email: '',
      password: '',
      passwordState: false,
      rules: {
        required: (value) => !!value || 'Required.',
        email: (value) => {
          const pattern = /^(([^<>()\\[\]\\.,;:\s@"]+(\.[^<>()\\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        }
      }
    }
  },
  props: {
    value: {
      type: Boolean
    }
  },
  methods: {
    signInWithGoogle () {
      this.$store.dispatch('signInWithGoogle')
    },
    resetForm () {
      this.email = ''
      this.password = ''
      this.isEmail = false
      this.loading = false
      this.loader = null
    },
    submit () {
      if (this.email && this.password) {
        this.loading = true
        this.loader = this.loading
        this.$store.dispatch('signInWithEmailAndPassword', { email: this.email, password: this.password })
        setTimeout(() => {
          this.resetForm()
        }, 3000)
      }
    }
  },
  computed: {
    ...mapGetters({
      isLoading: 'isLoading'
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.progress-circular {
  opacity: .5
}
</style>
