<template>
  <div class="me">
    <v-toolbar color="elevation-0 white">
      <v-avatar size="36px" class="grey lighten-3" v-if="photoURL" >
        <img :src="photoURL" :alt="title">
      </v-avatar>
      <v-toolbar-title>
        {{ title }}
      </v-toolbar-title>
    </v-toolbar>

    <v-list class="transparent" v-if="isDoctor">
      <v-list-tile avatar v-for="item in docItems" v-bind:key="item.title" @click="goto(item)">
        <v-list-tile-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title v-html="item.title"></v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-icon v-bind:color="item.active ? 'teal' : 'grey'">chevron_right</v-icon>
        </v-list-tile-action>
      </v-list-tile>
    </v-list>

    <hr v-if="isDoctor">

    <v-list class="transparent">
      <v-list-tile avatar v-for="item in items" v-bind:key="item.title" @click="goto(item)">
        <v-list-tile-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title v-html="item.title"></v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-icon v-bind:color="item.active ? 'teal' : 'grey'">chevron_right</v-icon>
        </v-list-tile-action>
      </v-list-tile>
      <v-list-tile avatar @click="logOut">
        <v-list-tile-action>
          <v-icon>power_settings_new</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Logout</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-icon></v-icon>
        </v-list-tile-action>
      </v-list-tile>
    </v-list>
    <br>
    <!-- <v-btn @click.native="sendNotification('Successfully sent', 'success')">Trigger Success notification test</v-btn>
    <v-btn @click.native="sendNotification('Error occurred', 'error', 0)">Trigger Error notification test</v-btn> -->
  </div>
</template>

<script>
export default {
  data: () => ({
    docItems: [
      {
        title: 'Practice information',
        icon: 'work',
        route: 'practice-info'
      },
      {
        title: 'Available times',
        icon: 'event',
        route: 'available-times'
      },
      {
        title: 'Fee table',
        icon: 'attach_money',
        route: 'fee-table'
      }
    ],
    items: [
      {
        title: 'Personal info',
        icon: 'person',
        route: 'personal-info'
      },
      {
        title: 'Payment / Banking details',
        icon: 'credit_card',
        route: 'payment'
      },
      {
        title: 'Settings',
        icon: 'settings',
        route: 'settings'
      }
    ]
  }),
  methods: {
    logOut () {
      this.$store.dispatch('signOut')
    },
    goto (item) {
      if (typeof item.route !== 'undefined') {
        console.log(item.route)
        this.$router.push(item.route)
      }
    },
    sendNotification (message, color, timeout) {
      Event.$emit('notification', {message: message, color: color, timeout: timeout})
    }
  },
  computed: {
    title () {
      return this.$store.getters.getUser.displayName
    },
    photoURL () {
      return this.$store.getters.getUser.photoURL
    },
    isDoctor () {
      return this.$store.getters.getUser.isDoctor
    }
  }
}
</script>

<style lang="scss">
.me {
  .title {
    display: flex;
    align-items: center;
    .avatar {
      float: left;
      width: 40px;
      height: 40px;
      margin: 0;
    }
  }
}
</style>
