<template>
  <div class="personal-info">
    <v-toolbar flat color="white">
      <v-btn icon to="/me">
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title>
        {{ title }}
      </v-toolbar-title>
    </v-toolbar>

    <v-list class="transparent" v-if="isDoctor">
      <v-subheader>Banking details</v-subheader>
      <v-divider></v-divider>
      <v-list-tile avatar @click="goto(item)">
        <v-list-tile-action>
          <v-icon>attach_money</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Commonwealth Bank of Australia</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-icon color="grey">chevron_right</v-icon>
        </v-list-tile-action>
      </v-list-tile>
      <v-list-tile avatar @click="goto(item)">
        <v-list-tile-action>
          <v-icon>add</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Add bank account</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <!-- <v-icon color="grey">chevron_right</v-icon> -->
        </v-list-tile-action>
      </v-list-tile>
    </v-list>

    <v-list class="transparent">
      <v-subheader>Payment types</v-subheader>
      <v-divider></v-divider>
      <v-list-tile avatar @click="goto(item)">
        <v-list-tile-action>
          <img src="/static/img/icons/paypal.png" alt="Paypal" class="icon">
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Paypal</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-icon color="grey">chevron_right</v-icon>
        </v-list-tile-action>
      </v-list-tile>
      <v-list-tile avatar @click="goto(item)">
        <v-list-tile-action>
          <img src="/static/img/icons/visa.svg" alt="Visa" class="icon">
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>•••• 9293</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-icon color="grey">chevron_right</v-icon>
        </v-list-tile-action>
      </v-list-tile>
      <v-list-tile avatar @click="goto(item)">
        <v-list-tile-action>
          <v-icon>add</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Add payment method</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <!-- <v-icon color="grey">chevron_right</v-icon> -->
        </v-list-tile-action>
      </v-list-tile>
    </v-list>

    <v-list class="transparent">
      <v-subheader>Concession code</v-subheader>
      <v-divider></v-divider>
      <v-list-tile avatar @click="goto(item)">
        <v-list-tile-action>
          <v-icon>add</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Add concession code</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <!-- <v-icon color="grey">chevron_right</v-icon> -->
        </v-list-tile-action>
      </v-list-tile>
    </v-list>

  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'Payment'
    }
  },
  methods: {
    updateField (field, value) {
      this.$store.dispatch('updateUserFieldAtFirestore', { field: field, value: value })
    }
  },
  computed: {
    isDoctor () {
      return this.$store.state.user.isDoctor
    }
  }
}
</script>

<style lang="css">
</style>
