<template>
  <div class="personal-info">
    <v-toolbar flat color="white">
      <v-btn icon to="/me">
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title>
        {{ title }}
      </v-toolbar-title>
    </v-toolbar>
    <v-container>
      <v-layout row wrap>
        <v-flex xs12 sm10 md8 lg6 offset-sm1 offset-md2 offset-lg3 class="py-3">

          <v-btn-toggle mandatory v-model="currentUser.title" class="mb-4">
            <v-btn flat value="Mr" @click.native="updateField('title', currentUser.title)">
              Mr
            </v-btn>
            <v-btn flat value="Mrs" @click.native="updateField('title', currentUser.title)">
              Mrs
            </v-btn>
            <v-btn flat value="Miss" @click.native="updateField('title', currentUser.title)">
              Miss
            </v-btn>
            <v-btn flat value="Ms" @click.native="updateField('title', currentUser.title)">
              Ms
            </v-btn>
            <v-btn flat value="Dr" @click.native="updateField('title', currentUser.title)">
              Dr
            </v-btn>
            <v-btn flat value="Others" @click.native="updateField('title', currentUser.title)">
              Others
            </v-btn>
          </v-btn-toggle>

          <v-text-field required
          label="First name"
          hint="Please enter your first name"
          v-model="currentUser.firstName"
          @input="updateField('firstName', currentUser.firstName)"></v-text-field>

          <v-text-field required
          label="Last name"
          hint="Please enter your last name"
          v-model="currentUser.lastName"
          @input="updateField('lastName', currentUser.lastName)"></v-text-field>

          <v-text-field required
          label="Display name"
          hint="Please enter your display name"
          v-model="currentUser.displayName"
          @input="updateField('displayName', currentUser.displayName)"></v-text-field>

          <v-btn-toggle v-model="currentUser.gender" class="mt-5 mb-4">
            <v-btn flat value="Male" @click.native="updateField('gender', currentUser.gender)">
              Male
            </v-btn>
            <v-btn flat value="Female" @click.native="updateField('gender', currentUser.gender)">
              Female
            </v-btn>
          </v-btn-toggle>

          <v-dialog
            persistent
            v-model="dobModal"
            lazy
            full-width
            width="290px"
          >
            <v-text-field
              slot="activator"
              label="Date of birth"
              v-model="currentUser.dob"
              readonly
              class="mb-5"
            ></v-text-field>
            <v-date-picker v-model="currentUser.dob" scrollable actions @input="updateField('dob', currentUser.dob)">
              <template slot-scope="{ save, cancel }">
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                  <v-btn flat color="primary" @click="save">OK</v-btn>
                </v-card-actions>
              </template>
            </v-date-picker>
          </v-dialog>

          <v-text-field required class="mt-4"
          label="Mobile number"
          hint="Please enter your mobile number"
          v-model="currentUser.phoneNumber"
          @input="updateField('phoneNumber', currentUser.phoneNumber)"></v-text-field>

          <v-text-field required disabled
          label="Email address"
          hint="Please enter your email address"
          v-model="currentUser.email"></v-text-field>

        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      title: 'Personal infomation',
      dobModal: false
    }
  },
  methods: {
    updateField (field, value) {
      this.$store.dispatch('updateUserFieldAtFirestore', { field: field, value: value })
    }
  },
  computed: {
    ...mapGetters({
      currentUser: 'getUser'
    })
  }
}
</script>

<style lang="css">
</style>
