<template>
  <div class="practice-info">
    <v-toolbar flat color="white">
      <v-btn icon to="/me">
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title>
        {{ title }}
      </v-toolbar-title>
    </v-toolbar>

    <v-container>
      <v-layout row wrap>
        <v-flex xs12 sm10 md8 lg6 offset-sm1 offset-md2 offset-lg3 class="text-xs-center">

          <v-text-field required class="mt-4"
          label="Provider ID"
          hint="Please enter your provider ID"
          :rules="[rules.required]"
          @input="updateField('providerID', currentUser.providerID)"
          v-model="currentUser.providerID"></v-text-field>

          <v-select
            label="Type of doctor"
            :items="doctorTypes"
            v-model="currentUser.doctorType"
            :rules="[rules.required]"
            @input="updateField('doctorType', currentUser.doctorType)"
            required
          ></v-select>

          <v-text-field class="mt-4" multi-line
          label="Biography"
          hint="Please enter your provider ID"
          v-model="currentUser.bio"
          @input="updateField('bio', currentUser.bio)"></v-text-field>

        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      title: 'Practice information',
      doctorTypes: [ 'GP', 'Specialist' ],
      rules: {
        required: (value) => !!value || 'Required.',
        email: (value) => {
          const pattern = /^(([^<>()\\[\]\\.,;:\s@"]+(\.[^<>()\\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        }
      }
    }
  },
  methods: {
    updateField (field, value) {
      this.$store.dispatch('updateUserFieldAtFirestore', { field: field, value: value })
    }
  },
  computed: {
    ...mapGetters({
      currentUser: 'getUser'
    })
  }
}
</script>

<style lang="css">
</style>
