<template>
  <v-dialog v-model="regoScreen" fullscreen transition="dialog-bottom-transition" :overlay="false">
    <v-card tile light class="grey lighten-4" v-if="!loginScreen">
      <v-stepper v-model="stepper" class="transparent">
        <v-stepper-header class="white">
          <v-stepper-step step="1" class="teal--text" edit-icon="check" editable :complete="stepper > 1">Type of user</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="2" class="teal--text" edit-icon="check" editable :complete="stepper > 2">Personal info</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="3" class="teal--text" edit-icon="check" editable>Payment / Banking details</v-stepper-step>
        </v-stepper-header>
        <v-stepper-items>
          <v-stepper-content step="1">
            <v-container>
              <v-layout row wrap>
                <v-flex xs12 sm10 md8 lg6 offset-sm1 offset-md2 offset-lg3 class="text-xs-center">

                  <h3 class="mb-4">I will be using this app</h3>
                  <v-btn-toggle light mandatory v-model="currentUser.isDoctor">
                    <v-btn large flat light class="px-4" color="primary" :value="false" @click.native="ifDoctor(false)">As a patient</v-btn>
                    <v-btn large flat light class="px-4" color="primary" :value="true" @click.native="ifDoctor(true)">As a doctor</v-btn>
                  </v-btn-toggle>

                </v-flex>
              </v-layout>
            </v-container>
          </v-stepper-content>
          <v-stepper-content step="2">
            <v-container>
              <v-layout row wrap>
                <v-flex xs12 sm10 md8 lg6 offset-sm1 offset-md2 offset-lg3>

                  <div class="mb-5" v-if="currentUser.isDoctor">
                    <h3 class="mb-3">Your practice information</h3>

                    <v-text-field required class="mt-4"
                    label="Provider ID"
                    hint="Please enter your provider ID"
                    :rules="[rules.required]"
                    @input="updateField('providerID', currentUser.providerID)"
                    v-model="currentUser.providerID"></v-text-field>

                    <v-select
                      label="Type of doctor"
                      :items="doctorTypes"
                      v-model="currentUser.doctorType"
                      :rules="[rules.required]"
                      @input="updateField('doctorType', currentUser.doctorType)"
                      required
                    ></v-select>

                    <v-text-field class="mt-4" multi-line
                    label="Biography"
                    hint="Please enter your provider ID"
                    v-model="currentUser.bio"
                    @input="updateField('bio', currentUser.bio)"></v-text-field>
                  </div>

                  <h3 class="mb-3">Personal information</h3>
                  <v-btn-toggle mandatory v-model="currentUser.title" class="mb-4">
                    <v-btn flat value="Mr" @click.native="updateField('title', currentUser.title)">
                      Mr
                    </v-btn>
                    <v-btn flat value="Mrs" @click.native="updateField('title', currentUser.title)">
                      Mrs
                    </v-btn>
                    <v-btn flat value="Miss" @click.native="updateField('title', currentUser.title)">
                      Miss
                    </v-btn>
                    <v-btn flat value="Ms" @click.native="updateField('title', currentUser.title)">
                      Ms
                    </v-btn>
                    <v-btn flat value="Dr" @click.native="updateField('title', currentUser.title)">
                      Dr
                    </v-btn>
                    <v-btn flat value="Others" @click.native="updateField('title', currentUser.title)">
                      Others
                    </v-btn>
                  </v-btn-toggle>

                  <v-text-field required
                  label="First name"
                  hint="Please enter your first name"
                  v-model="currentUser.firstName"
                  :rules="[rules.required]"
                  @input="updateField('firstName', currentUser.firstName)"></v-text-field>

                  <v-text-field required
                  label="Last name"
                  hint="Please enter your last name"
                  v-model="currentUser.lastName"
                  :rules="[rules.required]"
                  @input="updateField('lastName', currentUser.lastName)"></v-text-field>

                  <v-text-field required
                  label="Display name"
                  hint="Please enter your display name"
                  v-model="currentUser.displayName"
                  :rules="[rules.required]"
                  @input="updateField('displayName', currentUser.displayName)"></v-text-field>

                  <v-btn-toggle v-model="currentUser.gender" class="mt-5 mb-4" :rules="[rules.required]">
                    <v-btn flat value="Male" @click.native="updateField('gender', currentUser.gender)">
                      Male
                    </v-btn>
                    <v-btn flat value="Female" @click.native="updateField('gender', currentUser.gender)">
                      Female
                    </v-btn>
                  </v-btn-toggle>

                  <v-dialog
                    persistent
                    v-model="dobModal"
                    lazy
                    full-width
                    width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      label="Date of birth"
                      v-model="currentUser.dob"
                      readonly
                      class="mb-5"
                    ></v-text-field>
                    <v-date-picker v-model="currentUser.dob" scrollable actions @input="updateField('dob', currentUser.dob)">
                      <template slot-scope="{ save, cancel }">
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                          <v-btn flat color="primary" @click="save">OK</v-btn>
                        </v-card-actions>
                      </template>
                    </v-date-picker>
                  </v-dialog>

                  <v-text-field required class="mt-4"
                  label="Mobile number"
                  hint="Please enter your mobile number"
                  v-model="currentUser.phoneNumber"
                  :rules="[rules.required]"
                  @input="updateField('phoneNumber', currentUser.phoneNumber)"></v-text-field>

                  <v-text-field required disabled
                  label="Email address"
                  hint="Please enter your email address"
                  v-model="currentUser.email"></v-text-field>

                  <v-btn large block color="primary" class="mt-5" @click.native="stepper = 3">Continue</v-btn>
                  <v-btn flat block @click.native="stepper = 2">Back</v-btn>

                </v-flex>
              </v-layout>
            </v-container>
          </v-stepper-content>
          <v-stepper-content step="3">
            <v-container>
              <v-layout row wrap>
                <v-flex xs12 sm10 md8 lg6 offset-sm1 offset-md2 offset-lg3 class="">

                  <div class="mb-5" v-if="currentUser.isDoctor">
                    <v-form v-model="docPaymentValid" ref="form" lazy-validation>
                      <h3 class="mb-3">Credit card details</h3>

                      <v-text-field required
                        label="Credit card number"
                        mask="####-####-####-####"
                        hint="Please enter your credit card number"
                        :rules="[rules.required]"
                        v-model="currentUser.creditCardNumber"
                      ></v-text-field>

                      <v-text-field required
                        label="Name on card"
                        hint="Please enter the name displayed on your credit card"
                        :rules="[rules.required]"
                        v-model="currentUser.nameOnCard"
                      ></v-text-field>

                      <v-dialog
                        persistent
                        v-model="ccExpiryDateModal"
                        lazy
                        full-width
                        width="290px"
                      >
                        <v-text-field required
                          slot="activator"
                          label="Credit card expiry"
                          v-model="currentUser.ccExpiryDate"
                          :rules="[rules.required]"
                          readonly
                        ></v-text-field>
                        <v-date-picker type="month" v-model="currentUser.ccExpiryDate" scrollable actions>
                          <template slot-scope="{ save, cancel }">
                            <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                              <v-btn flat color="primary" @click="save">OK</v-btn>
                            </v-card-actions>
                          </template>
                        </v-date-picker>
                      </v-dialog>

                      <v-text-field required
                        label="CVC number"
                        hint="Please enter the CVC number displayed on the back of your credit card"
                        mask="####"
                        min="3"
                        :rules="[rules.required]"
                        v-model="currentUser.cvc"
                      ></v-text-field>

                      <h3 class="mt-5 mb-3">Bank details</h3>
                      <v-text-field required
                        label="BSB number"
                        mask="###-###"
                        :rules="[rules.required]"
                        v-model="currentUser.bsb"
                      ></v-text-field>

                      <v-text-field required
                        label="Account number"
                        mask="##########"
                        min="6"
                        :rules="[rules.required]"
                        v-model="currentUser.accountNumber"
                      ></v-text-field>

                      <v-text-field required
                        label="Account name"
                        :rules="[rules.required]"
                        v-model="currentUser.accountName"
                      ></v-text-field>

                      <v-btn block large color="primary" class="mt-4" :disabled="!docPaymentValid" @click="updateField('formComplete', true)">Get started</v-btn>
                    </v-form>
                  </div>

                  <div v-else>
                    <v-form v-model="paymentValid" ref="form" lazy-validation>
                      <h3 class="mb-3">Credit card details</h3>
                      <v-text-field required
                        label="Credit card number"
                        mask="####-####-####-####"
                        hint="Please enter your credit card number"
                        :rules="[rules.required]"
                        v-model="currentUser.creditCardNumber"
                      ></v-text-field>

                      <v-text-field required
                        label="Name on card"
                        hint="Please enter the name displayed on your credit card"
                        :rules="[rules.required]"
                        v-model="currentUser.nameOnCard"
                      ></v-text-field>

                      <v-dialog
                        persistent
                        v-model="ccExpiryDateModal"
                        lazy
                        full-width
                        width="290px"
                      >
                        <v-text-field required
                          slot="activator"
                          label="Credit card expiry"
                          v-model="currentUser.ccExpiryDate"
                          :rules="[rules.required]"
                          readonly
                        ></v-text-field>
                        <v-date-picker type="month" v-model="currentUser.ccExpiryDate" scrollable actions>
                          <template slot-scope="{ save, cancel }">
                            <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                              <v-btn flat color="primary" @click="save">OK</v-btn>
                            </v-card-actions>
                          </template>
                        </v-date-picker>
                      </v-dialog>

                      <v-text-field required
                        label="CVC number"
                        hint="Please enter the CVC number displayed on the back of your credit card"
                        mask="####"
                        min="3"
                        :rules="[rules.required]"
                        v-model="currentUser.cvc"
                      ></v-text-field>

                      <v-btn block large color="primary" class="mt-4" :disabled="!paymentValid" @click="updateField('formComplete', 'true')">Get started</v-btn>
                    </v-form>
                  </div>

                </v-flex>
              </v-layout>
            </v-container>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>

    </v-card>
  </v-dialog>
</template>

<script>
import router from '../router'
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      stepper: 0,
      dob: '',
      dobModal: false,
      ccExpiryDateModal: false,
      docPaymentValid: false,
      paymentValid: false,
      rules: {
        required: (value) => !!value || 'Required.',
        email: (value) => {
          const pattern = /^(([^<>()\\[\]\\.,;:\s@"]+(\.[^<>()\\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        }
      },
      doctorTypes: [ 'GP', 'Specialist' ]
    }
  },
  components: {
  },
  methods: {
    updateField (field, value) {
      this.$store.dispatch('updateUserFieldAtFirestore', { field: field, value: value })
    },
    ifDoctor (value) {
      this.updateField('isDoctor', value)
      if (value === true) {
        router.push('/appointments')
      } else {
        router.push('/')
      }
      // add default available times
      if (value && this.currentUser.businessHours.length === 0) {
        this.updateField('businessHours', [
          {
            days: [0, 1, 2],
            start_time: '08:00',
            end_time: '13:00'
          },
          {
            days: [3, 4],
            start_time: '10:00',
            end_time: '17:00'
          }
        ])
      }
      // add default pricing & duration
      if (value && this.currentUser.feeTable.length === 0) {
        this.updateField('feeTable', [
          {
            label: 'default',
            duration: 30,
            fee: 100.00
          }
        ])
      }
      setTimeout(() => {
        this.stepper = 2
      }, 1000)
    },
    logout () {
      this.$store.dispatch('signOut')
    }
  },
  computed: {
    ...mapGetters({
      currentUser: 'getUser',
      loginScreen: 'loginScreen',
      regoScreen: 'regoScreen'
    }),
    isDoctor () {
      return this.$store.state.user.isDoctor
    }
  }
}
</script>

<style lang='css'>
</style>
