<template>
  <div class="me">
    <v-toolbar color="elevation-0 white">
      <v-text-field solo label="Search" prepend-icon="search" class="mx-0 elevation-0"></v-text-field>
    </v-toolbar>
  </div>
</template>

<script>
export default {
  data: () => ({
    title: 'Search'
  })
}
</script>

<style lang="css">
</style>
