<template>
  <div id="settings">
    <v-toolbar color="elevation-0 white">
      <v-btn icon to="/me">
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-toolbar-title>
        {{ title }}
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
  </div>
</template>
<script>
  export default {
    name: 'settings',
    data () {
      return {
        title: 'Settings'
      }
    },
    computed: {

    },
    mounted: function () {
    },
    methods: {

    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

</style>
