<template>
  <v-card flat v-bind:class="{'is-disabled': isValidSession()}">

    <v-container fluid grid-list-lg class="pb-0">
      <v-layout row>
        <v-flex xs4>
          <v-avatar
            :size="'6rem'"
            class="avatar">
            <img :src="participant.picture" alt="avatar" align="center">
          </v-avatar>
        </v-flex>
        <v-flex xs8>
          <div>
            <div class="headline">{{ start_time | moment("h:mm a") }}</div>
            <div class="grey--text">with {{participant.display_name}}</div>
            <p class="mt-2">{{ session.session_name }}</p>
            <v-chip color="warning" small outline v-if="session.status === 0 && !currentUser.isDoctor">Pending Approval</v-chip>
            <v-chip color="default" small outline v-if="session.status === 3">Cancelled</v-chip>
          </div>
        </v-flex>
      </v-layout>
    </v-container>

    <v-card-actions row v-if="isValidSession()">
      <v-spacer></v-spacer>
      <v-btn flat color="grey" @click="cancel()" :loading="isCanceling" v-if="session.status !== 3">Cancel</v-btn>
      <v-btn color="primary" @click="connect(participant.entry_url)" v-if="session.status === 1">Connect</v-btn>
      <v-btn color="warning" @click="approve(session)" v-if="session.status === 0 && currentUser.isDoctor">Approve</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
  import { mapGetters } from 'vuex'
  const moment = require('moment')
  export default {
    name: 'appointment-card',
    props: ['session', 'participant'],
    data () {
      return {
        isCanceling: false
      }
    },
    computed: {
      ...mapGetters({
        currentUser: 'getUser'
      }),
      start_time: function () {
        return moment(this.session.start_time).local()
      }
    },
    methods: {
      isValidSession: function () {
        return moment(this.session.end_time).isAfter()
      },
      cancel: function () {
        this.isCanceling = true
        Event.$emit('cancel-session', this.session.session_id)
      },
      approve: function (session) {
        this.$store.dispatch('updateAppointmentFieldAtFirestore', {
          session_id: session.session_id,
          field: 'status',
          value: 1
        })
      },
      connect: function (url) {
        console.log(url)
        window.location.assign(url)
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

</style>
