<template>
  <v-bottom-nav :value="true">
    <template v-if="isDoctor">
      <v-btn dark v-for="(item, i) in items" :key="i" :to="item.link" v-if="item.docNav">
        <v-icon>{{ item.icon }}</v-icon>
      </v-btn>
    </template>
    <template v-else>
      <v-btn dark v-for="(item, i) in items" :key="i" :to="item.link">
        <v-icon>{{ item.icon }}</v-icon>
      </v-btn>
    </template>
  </v-bottom-nav>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        name: 'Home',
        icon: 'home',
        link: '/'
      },
      {
        name: 'Appointments',
        icon: 'date_range',
        docNav: true,
        link: '/appointments'
      },
      {
        name: 'Search',
        icon: 'search',
        docNav: true,
        link: '/search'
      },
      {
        name: 'Me',
        icon: 'person',
        docNav: true,
        link: '/me'
      }
    ]
  }),
  props: {
    bottom: {
      type: Boolean,
      default: false
    },
    dark: {
      type: Boolean,
      default: false
    },
    gradient: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    isDoctor () {
      return this.$store.state.user.isDoctor
    }
  }
}
</script>

<style lang="scss" scoped>
.toolbar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 48px;
  background-color: #eee;
  &.has-gradient {
    background: -moz-linear-gradient(left, #41b987 0%, #0c4164 100%);
    background: -webkit-linear-gradient(left, #41b987 0%,#0c4164 100%);
    background: linear-gradient(to right, #41b987 0%,#0c4164 100%);
  }
  &.is-dark {
    background-color: #333;
    .hx-button {
      .hx-icon, span {
        color: white;
      }
    }
  }
  .hx-button {
    height: 100%;
    border: none;
    background-color: transparent;
    min-width: 20%;
    font-size: .65rem;
    outline: none;
    box-shadow: none;
    .hx-icon {
      font-size: 1.6rem;
    }
    span {
      font-size: .65rem;
      line-height: 1.1;
    }
  }
}
</style>
