<template>
  <v-snackbar v-model="snackbar" :multi-line="true" :color="color" :timeout="timeout">
    {{ message }}
    <v-btn flat dark icon @click.native="snackbar = false">
      <v-icon>close</v-icon>
    </v-btn>
  </v-snackbar>
</template>

<script>
export default {
  data () {
    return {
      snackbar: false,
      timeout: 6000,
      color: null,
      message: 'Message goes here'
    }
  },
  mounted () {
    Event.$on('notification', (options) => {
      if (options.message) {
        this.message = options.message
        this.snackbar = true
        if (options.color) {
          this.color = options.color
        }
        if (options.timeout !== 6000) {
          this.timeout = options.timeout
        } else {
          this.timeout = 6000
        }
      }
    })
  }
}
</script>
