<template>
  <div id="watermark">
      <i class="watermark__icon material-icons icon is-large">{{icon}}</i>
      <span>{{ msg }}</span>
  </div>
</template>

<script>
  export default {
    name: 'watermark',
    props: ['msg', 'icon'],
    data () {
      return {
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  #watermark {
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .watermark__icon {
      font-size: 8rem;
      color: #ccc;
      height: 128px;
      weight: 128px;
    }
  }
</style>
