<template>
  <v-app class="grey lighten-4">

    <v-content>
      <transition name="slide-y" mode="out-in">
        <router-view></router-view>
      </transition>
    </v-content>

    <bottom-nav></bottom-nav>

    <login v-model="login"></login>
    <registration></registration>

    <notifications></notifications>

  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
import BottomNav from '@/components/BottomNav'
import Notifications from '@/components/Notifications'
import Login from '@/pages/Login'
import Registration from '@/pages/Registration'
import router from './router'
export default {
  router,
  data () {
    return {
      // login: false
    }
  },
  components: {
    BottomNav,
    Notifications,
    Login,
    Registration
  },
  computed: {
    ...mapGetters({
      login: 'loginScreen',
      formComplete: 'formComplete'
    })
  }
}
</script>

<style lang="css" src="../node_modules/vuetify/dist/vuetify.min.css"></style>
<!-- <style lang="scss" src="../node_modules/@hxui/css/dist/static/scss/hxui.scss"></style> -->
<style lang="scss" src="./assets/scss/app.scss"></style>
